fastapi>=0.115.0
uvicorn>=0.29.0
langchain>=0.3.26,<0.4.0
langserve>=0.3.3
langchain-community>=0.3.27
langchain-openai>=0.3.28
langchain-mcp-adapters>=0.1.11
mcp>=1.12.4
pydantic>=2.11.7
pyyaml>=6.0.2
# httpx>=0.28.1
# openai>=1.106.1
yandexcloud>=0.304.0
